@media all and (max-width: 1024px){

    /* Hamburger menu to do */

    *{
        box-shadow: none;
    }

    .about-me-container::after, .my-skills-container::after, .my-portfolio-container::after{
       content: none;
    }

    .cover-photo-text h1{
        font-size: 3rem;
    }

    .cover-photo-text .introduction, .main-title-container h2{
    font-size: 1.6rem;
    }

    .about-me-blank, .my-skills-blank {
    display: none;
    }

    .about-me-content, .my-skills-content{
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: static;
    }

    .my-skills-content .info{
    width: 100%;
    line-height: 1rem;
    font-size: 1rem;
    }
    
    .about-me-container, .my-skills-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: justify;
    flex-grow: 1;
    margin: 0;
}
    
    .content-info, .content-info-desc{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }

    .content-info{
    flex-direction: row;
    }

    .content-info img, .content-info .about-me-description-box{
    margin-bottom: 20px;
    margin-top: 0;
    }
    
    .content-info-desc, .about-me-description-box li{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #222222;
    font-weight: normal;
    }

    .about-me-description-box li .description {
    font-weight: bold;
    color: #222222;
    }
    

    .about-me-content .dotted-border::before, .my-skills-content .dotted-border::before{
    content: none;
    }

    .nav .logo{
        margin: 2rem 0 0 3.25rem;
      }

    .menu ul{
        display: none;
    }

    .menu .mobile-nav{
    display: block;
    }

    .show-menu-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin: 2rem 3.25rem 0 0;
    }



    .show-menu-button input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    --webkit-touch-callout: none;
    }

    

    .show-menu-button span {
    display: block;
    width: 36px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #515151;
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transform-origin: 4px 0px;
    }

    .show-menu-button span:first-child {
    transform-origin: 0% 0%;
    }

    /* .show-menu-button span:nth-child(2) {
    transform-origin: 0% 100%;
    } */

    .show-menu-button input[type="checkbox"]:checked ~ span{
    opacity: 1;
    transform: rotate(-45deg) translate(-2px, -1px);
    background: #232323;
    }

    .show-menu-button input[type="checkbox"]:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }


    .show-menu-button input[type="checkbox"]:checked ~ span:nth-child(2){
    opacity: 1;
    transform: rotate(45deg) translate(0, -1px);
    }

    .mobile-nav .mobile-menu {
    display: block;
    position: absolute;
    background-color: aqua;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -150px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .mobile-menu li {
    padding: 10px 0;
    font-size: 22px;
    }

   .mobile-menu a {
    text-decoration: none;
    color: #232323;  
    transition: color 0.3s ease;
    }

    .mobile-menu a:hover {
    color: tomato;
    }

    .show-menu-button input[type="checkbox"]:checked > ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
    }


    /* Portfolio Mobile START */
    .my-portfolio-inner-container .my-portfolio-single{
        width: 100%;
    }
    /* Portfolio MobileEND*/




    .mobile-title-content, .mobile-title-skills, .mobile-title-portfolio{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.02em;
        color: #222222;
        font-weight: bold;
        padding: 20px 0;
    }


}



@media all and (max-width: 768px){

    .main-title-container {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-title-container h2{
        margin: 0;
    }

    .main-buttons .btn {
        width: 150px;
        height: 37.5px;
        font-size: 1rem;
    }

    .about-me-title-content{
        flex-direction: column;
    }

    .mobile-skills-title{
       padding-top: 20px;
    }


    .content-info{
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .content-info-desc {
        padding: 0 20px 20px 20px;
    }

    .content-info-desc, .about-me-description-box li{
        font-size: 1rem;
        line-height: 1.6rem;
        color: #222222;
        font-weight: normal;
    }
}



@media all and (max-width: 567px){
    .main-title-container {
       
    }
}