@media all and (max-width: 1366px){
  .about-me-content, .my-skills-content{
    width: 100%
  }
}

@media all and (max-width: 1024px){

    /* Hamburger menu to do */
  body{
    overflow-x: hidden;
  }

    *{
        box-shadow: none;
    }

    .about-me-container::after, .my-skills-container::after, .my-portfolio-container::after, .contact-container::after{
       content: none;
    }

    .my-skills-container, .my-portfolio-container, .contact-container{
       margin-top:0;
       }

    .cover-photo-text h1{
        font-size: 3rem;
    }

    .cover-photo-text .introduction, .main-title-container h2{
    font-size: 1.6rem;
    }

    .about-me-blank, .my-skills-blank {
    display: none;
    }

    .about-me-content, .my-skills-content{
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: static;
    }

    .my-skills-content .info{
    width: 100%;
    line-height: 1rem;
    font-size: 1rem;
    }
    
    .about-me-container, .my-skills-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: justify;
    flex-grow: 1;
}
    
    .content-info, .content-info-desc{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }

    .content-info{
    flex-direction: row;
    }

    .content-info img, .content-info .about-me-description-box{
    margin-bottom: 20px;
    margin-top: 0;
    }
    
    .content-info-desc, .about-me-description-box li{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #222222;
    font-weight: normal;
    }

    .about-me-description-box li .description {
    font-weight: bold;
    color: #222222;
    }
    

    .about-me-content .dotted-border::before, .my-skills-content .dotted-border::before{
    content: none;
    }

    .nav .logo{
        margin: 2rem 0 0 3.25rem;
      }

    .menu > ul{
        display: none;
    }


    a
    {
     text-decoration: none;
     color: #232323;
     transition: color 0.3s ease;
    }
    
    a:hover
    {
     color: #FFC53D;;
    }
    
    #menuToggle
    {
     display: block;
     position: absolute;
     top: 35px;
     right: 50px;
     z-index: 1;
     -webkit-user-select: none;
     user-select: none;
    }
    
    #menuToggle input
    {
     display: block;
     width: 35px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     cursor: pointer;
     opacity: 0; 
     z-index: 2; 
     -webkit-touch-callout: none;
    }
    
    /*
    * Hamburger icon
    */
    #menuToggle span
    {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     background: #cdcdcd;
     border-radius: 3px;
     z-index: 1;
     transform-origin: 4px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
     transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
     transform-origin: 0% 100%;
    }
    
    /* 
    Hamburger lines transform
    */
    #menuToggle input:checked ~ span
    {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
    }
    
    /*
    * Hide middle icon
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
    }
    
  
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
     opacity: 1;
     transform: rotate(-45deg) translate(0, -1px);
    }
    
    
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 0;
      padding: 50px;
      padding-top: 125px;
      right: -50px;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
    
     margin: 2rem 4rem 0 2rem;
     font-size: 1.125rem;
     line-height: 1.3125rem;
    }

    #menuToggle input:checked ~ ul
    {
     transform: scale(1.0, 1.0);
     opacity: 1;
    }

    /* Portfolio Mobile START */
    .my-portfolio-inner-container .my-portfolio-single{
        width: 100%;
    }
    /* Portfolio MobileEND*/


    /* Footer Contact START */
    .contact-inner-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .adress{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 0;
    }

    .adress::after{
        content: none;
    }

    .adress .envelope, .adress .socials{
        justify-content: center;
        align-items: center;
    }

    .adress-container .envelope,  .socials-container .socials-inner-container{
        position: static;
      
    }

    .form{
        width: 100%;
    }

    .form-inner .button{
      justify-content: center;
    }
    .form-inner .btn{
      width: 150px;
      height: 37.5px;
    }

    /* Footer Contact END*/


    .mobile-title-content, .mobile-title-skills, .mobile-title-portfolio, .mobile-title-contact{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.02em;
        color: #fff;
        font-weight: bold;
        padding: 20px 0;
        background-color: #FFC53D;
    }

}



@media all and (max-width: 768px){

    .main-title-container {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-title-container h2{
        margin: 0;
    }

    .main-buttons .btn {
        width: 150px;
        height: 37.5px;
        font-size: 1rem;
    }

    .about-me-title-content{
        flex-direction: column;
    }

    .mobile-skills-title{
       padding-top: 20px;
    }


    .content-info{
        flex-direction: row;
        padding: 20px 20px 0 20px;
    }

    .content-info-desc {
        padding: 0 20px 20px 20px;
    }

    .content-info-desc, .about-me-description-box li{
        font-size: 1rem;
        line-height: 1.6rem;
        color: #222222;
        font-weight: normal;
    }


}


@media all and (min-width: 568px) and (max-width:768px){
   
}
@media all and (max-width: 567px){
    .content-info{
        flex-direction: column;
    
    }
}